*.suo  

*.user  

*.userosscache  

*.sln.docstates

*.userprefs

*.pdb

*.dll

*.cache

debug/  

debugPublic/  

Debug/  

DebugPublic/  

release/  

Releases/

Releases/

x64/  

x86/  

bld/  

Bin/  

bin/

Obj/ 

obj/ 

Log/

log/  
