Panuon.UI/bin/
Panuon.UI.Charts/bin/
Panuon.UIBrowser/bin/
Panuon.UI/obj/
Panuon.UI.Charts/obj/
Panuon.UIBrowser/obj/
Panuon.UI/bin/Debug/Panuon.UI.dll
Panuon.UI/obj/Debug/Themes/Generic.baml
Panuon.UI/obj/Debug/Panuon.UI_MarkupCompile.i.lref
Panuon.UI/obj/Debug/Panuon.UI_MarkupCompile.i.cache
Panuon.UI/obj/Debug/Panuon.UI.pdb
Panuon.UI/obj/Debug/Panuon.UI.g.resources
Panuon.UI/obj/Debug/Panuon.UI.dll
Panuon.UI/obj/Debug/Panuon.UI.csprojResolveAssemblyReference.cache
Panuon.UI/obj/Debug/Panuon.UI.csproj.GenerateResource.cache
Panuon.UI/obj/Debug/Panuon.UI.csproj.FileListAbsolute.txt
Panuon.UI/bin/Debug/Panuon.UI.pdb
Panuon.UI/bin/Debug/Panuon.UI.dll
